@font-face {
  font-family: "DMSans";
  src: url("./DMSans-Regular.ttf");
  font-style: normal;
  font-weight: 200;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "DMSans";
  min-height: 100%;
  background: linear-gradient(0deg, rgb(255, 255, 255) 30%, rgb(190, 190, 190));
}
header {
  width: 100%;
  height: 60px;
  background-color: rgb(13, 94, 103);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
}
#nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
#content {
  position: absolute;
  top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav-btn {
  font-family: inherit;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.nav-btn:hover {
  background-color: rgba(20, 20, 20, 0.822);
  color: rgb(11, 132, 145);
}
#home-container,
#menu-container,
#about-container {
  margin: 2% 0;
  padding: 2%;
  border: 2px solid black;
  border-radius: 15px;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-container > h1 {
  margin-bottom: 15px;
  font-size: 2.5rem;
}
h1 {
  text-align: center;
}
img {
  width: 50%;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 2px rgb(83, 83, 83);
  margin: 15px 0;
}
#menu-h1 {
  font-size: 3rem;
}
#menu-container > div:not(:last-child) {
  border-bottom: 2px dashed black;
}
.price {
  font-weight: 800;
  margin-top: 2%;
  padding-bottom: 15px;
}
.card {
  text-align: center;
  margin: 3%;
}
.current {
  color: white;
}
